* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/********************* Header *****************/
.main-header .header-top {
    border-bottom: 1px solid #e1e1e1;
}

.main-header .header-top .logo img {
    width: 200px;
    height: 100px;
    margin-left: 20px;
}

.main-header .header-top .header_right_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search_container {
    display: flex;
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    background: #fff;
    width: 520px;
    margin-right: 150px;
}

.search_box {
    position: relative;
    width: 100%;
}

.search_box input {
    border: none;
    background: inherit;
    width: 100%;
    height: 54px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    padding: 0 53px 0 20px;
    opacity: 0.7;
}

.search_box input:focus-visible {
    box-shadow: none;
    outline: none;
}

.search_box button {
    border: 0;
    position: absolute;
    top: 0;
    height: 100%;
    right: 15px;
    font-weight: 100;
    font-size: 25px;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
    background: inherit;
}

.header_account_area {
    display: flex;
    justify-content: center;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    padding: 35px 32px;
}

.header_account-list {
    margin-right: 27px;
}

.header_account-list:last-child {
    margin-right: 0;
}

.mini_cart_wrapper {
    position: relative;
}

.header_account-list>a {
    font-size: 24px;
    position: relative;
    color: black;
}

.mini_cart_wrapper span.item_count {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #79a206;
    border-radius: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

/***************Menu*********************/
.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
    border-bottom: 0;
    display: block;
    transition: 0.5s;
    padding: 0;
}

.sticky-header {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}

.categories_menu {
    position: relative;
}

.categories_title {
    position: relative;
    cursor: pointer;
    height: 54px;
    line-height: 54px;
    border-right: 1px solid #e1e1e1;
}

.categories_title h2 {
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 53px;
}


.menu_position {
    position: relative;
}

.main_menu nav>ul>li>a::before {
    content: "";
    height: 3px;
    width: 0;
    background-color: #79a206;
    position: absolute;
    bottom: 0px;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main_menu nav>ul>li:hover>a::before {
    display: block;
    width: 100%;
}

.main_menu nav>ul>li>a i {
    margin-left: 3px;
}

.main_menu nav>ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.main_menu nav>ul>li {
    margin-right: 24px;
    position: relative;
}

.main_menu nav>ul>li>a {
    color: black;
    position: relative;
}

.main_menu nav>ul>li>a:hover {
    color: #79a206;
}

.main_menu nav>ul>li>a {
    display: block;
    font-size: 13px;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.main_menu nav>ul>li.mega_items {
    position: static;
}

.main_menu nav>ul>li .mega_menu {
    position: absolute;
    min-width: 100%;
    padding: 0 30px 0 30px;
    background: #ffffff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    max-height: 0;
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    z-index: 99;
    top: 101%;
    text-align: left;
}

.main_menu nav>ul>li:hover .mega_menu {
    visibility: visible;
    max-height: 300px;
    padding: 25px 30px 30px 30px;
}

.mega_menu_inner {
    display: flex;
    justify-content: space-between;
}

.mega_menu_inner ul {
    padding-left: 0 !important;
}

.mega_menu_inner>li a {
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mega_menu_inner>li ul li {
    display: block;
}

.mega_menu_inner>li ul li a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 30px;
    text-transform: capitalize;
}

.mega_menu_inner>li ul li a:hover {
    color: #79a206;
}

.main_menu nav>ul>li ul.sub_menu {
    position: absolute;
    min-width: 220px;
    padding: 0 20px;
    background: #ffffff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    max-height: 0;
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 101%;
    text-align: left;
}

.main_menu nav>ul>li:hover ul.sub_menu {
    visibility: visible;
    max-height: 360px;
    padding: 24px 20px;
}

.main_menu nav>ul>li ul.sub_menu li a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 32px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

.main_menu nav>ul>li ul.sub_menu li a:hover {
    color: #79a206;
}

.call-support p {
    text-align: right;
    line-height: 26px;
    margin-bottom: 0;
}

.call-support a {

    text-decoration: none;
    color: black;
}

.call-support a:hover {
    color: #79a206;
}

/*****************Slider*****************/
.slider-items {
    width: 100vw;
    height: 600px;
}

.slider-items::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.slider-items-one {
    background-image: url('images/Slide/slider1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-items-two {
    background-image: url('images/Slide/slider2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-items-three {
    background-image: url('images/Slide/slider3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**********************OwlCarousel*********************/
#owl-trans .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important;
    color: black !important;
}

#owl-trans .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important;
    color: black !important;
}

.owl-next,
.owl-theme .owl-prev:hover {
    background: none !important;
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateY(-50%);
}

.owl-dots span {
    width: 15px !important;
    height: 15px !important;
}

#owl-trans {
    animation: none !important;
    transition: none !important;
}

/*************** Animetion ******************/
.slider .owl-item.active .title {
    animation: fadeInLeftBig ease 1s both;
}

.slider .owl-item.active .decs {
    animation: fadeInUp ease 1s 1s both;
}

.slider .owl-item.active .button {
    animation: fadeInUp ease 2s 1s both;
}

/********************** Section Slider Content **************/
#owl-trans .slider-items {
    display: flex;
    align-items: center;
}

#owl-trans .slider-items .container h1 {
    font-size: 60px;
}

#owl-trans .slider-items .container p {
    font-size: 25px;
}

#owl-trans .slider-items .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
}

#owl-trans .slider-items .container span {
    color: #79a206;
}

#owl-trans .slider-items .container .button {
    background: #79a206;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 22px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    text-decoration: none;
    border-radius: 30px;
}

/************************** Shipping ********************/
.shipping-area {
    padding: 99px 0;
}

.single-shipping {
    display: flex;
    align-items: center;
    border-right: 1px solid gainsboro;
}

.single-shipping .shipping-icon {
    max-width: 100%;
    height: auto;
    margin-right: 18px;
    color: #79a206;
    font-size: 35px;
}

.single-shipping h3 {
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    font-family: "Lora", serif;
    font-weight: 700;
    margin-bottom: 7px;
}

.single-shipping p {
    line-height: 18px;
    font-weight: 300;
    font-size: 13px;
}

/*************************** BANNER *****************/
.banner_area {
    margin-bottom: 88px;
}

figure {
    padding: 0;
    margin: 0;
}

.banner_thumb {
    position: relative;
}

.banner_thumb img {
    transition: .3s;
}

img {
    max-width: 100%;
    width: 100%;
    height: 300px;
}

.banner_thumb:hover img {
    opacity: 0.8;
}

.banner_content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 31px;
}

.banner_content h3 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 17px;
}

.banner_content h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
}

.banner_content a {
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #79a206;
    text-transform: uppercase;
    margin-top: 36px;
    text-decoration: none;
    color: black;
    transition: all 0.35s ease;
}
.banner_content a:hover {
    color: #79a206;
}

/***************** BLOG ********************/
.blog_section {
    background: #f2f5f1;
    padding: 88px 0 95px;
}

.section_title {
    text-align: center;
    margin-bottom: 30px;
}

.single-blog {
    width: 100%;
}

.section_title h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    font-family: "Lora", serif;
    padding-bottom: 22px;
}

.blog_content {
    padding-top: 27px;
}

.blog_content h4 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 21px;
    margin-bottom: 5px;
    font-weight: 500;
}

.articles_date {
    margin-bottom: 22px;
}

.articles_date p {
    font-size: 13px;
    line-height: 15px;
}

.articles_date p span {
    color: #79a206;
}

.blog_content .post_title a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

.blog_content p.post_desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 22px;
    padding-bottom: 21px;
    border-bottom: 1px solid #e1e1e1;
}

.blog_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_footer>a {
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
    display: inline-block;
    color: #222222;
    transition: all 0.3s ease;
}
.blog_footer>a:hover {
    color: #79a206;
}

.blog_footer p {
    font-size: 18px;
}

.blog_footer p:last-child {
    margin-bottom: 0;
}

.blog_footer p span {
    font-size: 16px;
}

.blog_footer i {
    color: #d3d3d3;
    margin-right: 5px;
}

.blog_carousel > .owl-nav > .owl-prev {
    position: absolute;
    left: 20px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 55px !important;
    color: #79a206!important;
    visibility: hidden;
    transition:all 0.5s linear ;
}

.blog_carousel > .owl-nav > .owl-next {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 55px !important;
    color: #79a206!important;
    visibility: hidden;
    transition:all 0.5s linear;
}

.blog_carousel:hover .owl-nav .owl-next{
    opacity: 1;
    visibility: visible;
    right: 0;   
}
.blog_carousel:hover .owl-nav .owl-prev{
    opacity: 1;
    visibility: visible;
    left: 0;   
}


/****************** Footer **************/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_top {
    padding: 99px 0 89px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.widgets_container h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 31px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    font-weight: bold;
}

.widgets_container h3::before {
    content: "";
    width: 45px;
    height: 3px;
    background: #222222;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact_us>p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
}

.footer_menu ul {
    padding: 0;
}

.footer_menu li a {
    text-decoration: none;
    color: black;
}

.footer_menu ul li a {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    transition: all 0.3s ease;
}

.footer_menu ul li a:hover {
    color: #79a206;
}

.footer_logo {
    margin-bottom: 30px;
    text-align: center;
}

.footer_logo img {
    width: 200px;
    height: auto;
}

.footer_widgetnav_menu {
    text-align: center;
}

.footer_widgetnav_menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer_widgetnav_menu ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.footer_widgetnav_menu ul li a:hover {
    color: #79a206;
}
.footer_social {
    margin-top: 23px;
    text-align: center;
}

.footer_social ul li {
    display: inline-block;
    margin-right: 8px;
}

.footer_social ul li a {
    width: 42px;
    height: 42px;
    line-height: 44px;
    display: block;
    text-align: center;
    font-size: 14px;
    background: #f2f2f2;
    border-radius: 50%;
    color: black;
    transition: all 0.35s ease;
}

.footer_social ul li a:hover {
    background: #79a206;
    color: #fff;
}

.footer_app ul li {
    display: inline-block;
}

.footer_app {
    text-align: center;
    margin-top: 32px;
}

.footer_app ul {
    padding-left: 0;
}

.footer_app img {
    max-width: 100%;
    height: auto;
    width: 150px;
    margin-right: 5px;
}